@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
:root{
    --bgColor: #036016;
    --textPrimary: #4CB963;
    --textSecondary: #AAABBC;
    --primaryColor: #4CB963;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--bgColor);
    color: white;
    font-size: 1.4rem;
    
}
main{
    width: 100%;
    margin: auto;
}
h1{
    color: var(--primaryColor);
}

.group1{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 10px;
}

.group1 a{
    text-decoration: none;
    color: white;    
}

#link-home{
    margin-left: 67%;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}
#buttons{
    text-align: right;
}
#info{
    color: white;
}
button{
    background: #4CB963;
    border:0;
    color: #036016;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 19px;
}
div#game{
    line-height:35px;
    height:105px;
    overflow: hidden;
    position: relative;
}
div#game:focus{
    outline:0;
}
#words{
    filter: blur(5px);
    color: var(--textSecondary);
}
#game:focus #words{
    filter: blur(0);
}
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}
#game:focus #focus-error{
    display:none;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}
.letter.correct{
    color: white;
}
.letter.incorrect{
    color: #141115;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#legal{
    animation: blink 2s infinite;
}

#cursor{
    display:none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 198px;
    left: 18px;
    animation: blink .6s infinite;
}
#game:focus #cursor{
    display: block;
}
#game.over #words{
    opacity: .5;
    filter: blur(0px);
}
#game.over:focus #cursor{
    display:none;
}
#game.over #focus-error {
    display: none;
}

.footer{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.custom-hr{
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

.custom-hr::before, .custom-hr::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid black;
    margin: 0 10px;
}

.custom-hr img{
    max-width: 70px;
}

.text-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-footer p{
    font-weight: bold;
    color: #4CB963;
    margin-top: 17px;
}